/*************** Menu *********************/

header {
  display: flex;
  justify-content: space-between;
}

.logo img {
  width: 70px;
}

nav {
  display: flex;
}

.menu_d {
  display: flex;
  list-style: none;
  align-items: center;

  padding: 0;
  margin-right: 20px;
}

.menu_d li {
  margin-right: 20px;
}

.menu_d li:last-child {
  margin-right: 0;
}

.menu_d a {
  display: block;
  padding: 30px;
  text-align: end;
  position: relative;
}

.menu_d a:hover {
  text-decoration: underline;
}

.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
  position: relative;
  top: 45px;
  right: 25px;
}

.burger .line {
  width: 100%;
  height: 2px;
  background-color: #c61f1f;
  margin-bottom: 5px;
  transition: 0.2s linear;
}
.burger {
  display: none;
}

@media screen and (max-width: 800px) {
  .menu_d {
    display: none;
  }
  .burger {
    display: block;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu_d {
    display: block;
    background-color: #fff5e9;
    position: absolute;
    top: 150px;
    left: 0;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
  }

  nav.active .menu_d li {
    margin: 10px 20px;
    font-size: 1rem;
  }

  nav.active .menu_d a {
    text-align: center;
    font-size: 24px;
  }

  nav.active .menu_d a:hover {
    text-decoration: underline;
  }
}
